---
title: About this page for you
layout: base.njk 
---

<div class="container">
        <h1>This is a page for u</h1>
        <p>It was made for using HTML,CSS and JavaScript JAMSTACK site</p>
    </div>