---
title: A page for you
layout: base.njk 
---

<div class="container">
        <h1>This is a page for u</h1>
        <div class="vibe">You are great!</div>
        <div class="love">
            <p>love</p>
        </div>
    </div>
    <script src="/js/vibe.js">
        
    </script>